.formation-fiche {
  background-color: #f4f4f4;
}

.formation-fiche--container {
  display: flex;
  justify-content: space-between;
  // overflow: auto;
}

.formation-fiche--col1 {
  width: 850px;
  margin: 3rem 0;
}

.formation-fiche--col2 {
  margin: 3rem 0;
}

.formation-fiche--block {
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 7px;
  h2 {
    color: $main-color;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
  }
  h3 {
    color: $secondary-color;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.9rem;
    text-align: justify;
  }
  ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  &_link {
    color: $main-color;
    font-weight: 500;
  }
  &_link:hover {
    color: $secondary-color;
    transition: color 0.2s ease-in;
  }
}

.formation-fiche--right {
  width: 350px;
  background-color: white;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 7px;

  &_icone {
    text-align: center;
    font-size: 2rem;
    color: $secondary-color;
  }

  &_title {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }

  &_link {
    display: block;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: $main-color;
    &:hover {
      color: white;
      background-color: $secondary-color;
      transition: background 0.4s ease-in;
    }
  }

  &_brevet {
    font-size: 1.2rem;
    font-weight: 500;
    color: $main-color;
  }

  &_percent {
    font-size: 1.2rem;
    font-weight: 500;
    color: $main-color;
  }

  &_contact {
    font-size: 0.9rem;
    font-weight: 500;
    color: $main-color;
    line-height: 1.5rem;
  }

  &_contact-name {
    font-weight: 600;
    color: $main-color;
  }

  &_contact-tel {
    font-weight: 600;
    color: $main-color;
  }

  &_contact-mail {
    display: block;
    text-align: center;
    color: $main-color;
    font-weight: 500;
    &:hover {
      color: $secondary-color;
      transition: color 0.2s ease-in;
    }
  }

  &_agence {
    display: block;
    text-align: center;
    padding-bottom: 15px;
    color: $main-color;
    font-weight: 500;
    &:hover {
      color: $secondary-color;
      transition: color 0.2s ease-in;
    }
  }

  p {
    margin: 1rem 0;
    text-align: center;
  }
}
